<style>
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 999;   /* menu se thoda kam */
}



@media (max-width: 729px) {

  .navbar-collapse {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }

  .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .nav-link {
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
  }

  .search-box {
    width: 100%;
    margin: 10px 0;
  }
}
</style>

<nav class="navbar navbar-expand-md  bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">StayFinder</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search listings" name="query"/>
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>


      <div class="navbar-nav ms-auto ">
         <a class="nav-link" href="/listings/new"><i class="fa-solid fa-plus"></i> New</a>
         <% if(currUser){ %>
       
        <a class="nav-link" href="/listings/wishlist"><i class="fa-solid fa-heart"></i> Wishlist</a>
        <a href="/bookings" class="nav-link"><i class="fa-solid fa-book"></i>My Bookings</a>
        <a href="/owner" class="nav-link"><i class="fa-solid fa-chart-simple"></i>Dashboard</a>
          <% } %>
        
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Log out</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>