<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-4">
  <b><h1 class="mb-4">Wishlists</h1></b>

  <% if(listings.length === 0){ %>
    <div class="text-center mt-5">
      <h4>No items in wishlist!</h4>
      <a href="/listings" class="btn btn-dark mt-3">Explore Listings</a>
    </div>
  <% } %>

  <div class="row">
    <% listings.forEach(listing => { %>
      
      <div class="col-md-4 mb-4">
        <div class="card listing-card">

          <div class="image-container">
            <img src="<%= listing.image.url %>" class="card-img-top "  style="height: 20rem">
           
          </div>

          <div class="card-body mt-4">
            <a href="/listings/<%= listing._id %>" class="btn btn-outline-dark btn-sm">
              View Details
            </a>
          </div>

        </div>
      </div>

    <% }) %>
  </div>
</div>